body{
    display: flex; 
    justify-content: center;
    background-color: #F0F8FF;
    margin: 0; 
    font-size: 16px;
    line-height: 1.6;
}

main{
    max-width: 1200px;
    width: 1000px; 
}

article, header{
    text-align: center; 
}

.section__first{ 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around; 
}

.section__second{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; 
    align-content: flex-start; 
}

.section__third{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-around;
    align-content: flex-start; 
}

.section__fourth{
    display: flex; 
    flex-flow: column wrap;
    align-items: flex-start; 
}

.section__fifth{
    display: flex; 
    flex-flow: row wrap; 
}

.article__order{
    order: 1; 
}

.article__grow{
    flex-grow: 1;
}

.cub{
    background-color: aqua;
    width: 200px;
    height: 300px;
}